$borderWidth: 0.75px;

.App {
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

.display-input {
  border-radius: 15px;
  border: $borderWidth solid lightgray;
  margin-top: 100px;
  width: 100%;
  //
  //display: flex;
  //flex-direction: column;


  &:hover {
    box-shadow: 7px 10px 7px -10px rgba(0, 0, 0, 0.75);
    border-width: $borderWidth * 2;
  }

}
